* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: #F1F6FA;
}

.topnav {
  overflow: hidden;
  background-color: #002B4E;
  position: fixed; /* Tetapkan posisi navbar ke fixed */
  width: 100%; /* Gunakan lebar 100% */
  top: 0; /* Tempatkan navbar di bagian atas */
  z-index: 1000; /* Tetapkan z-index untuk menempatkan navbar di atas konten lain */
  
} 

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #C65BCF;
  color: #002B4E;
}

.topnav .icon {
  display: none;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
      display: none;
  }

  .topnav a.icon {
      float: right;
      display: block;
  }

  .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
  }

  .topnav input[type=text] {
      border: 1px solid #002B4E;
  }

  .topnav.responsive {
      position: relative;
  }

  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }

  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
}

.content {
  padding-top: 60px;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.SelCon {
  display: flex;
  margin-bottom: 20px;
}
.select-2 {
  margin-left: 2rem;
}

.select-3 {
  margin-left: 2rem;
}
table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #002B4E;
  color: white;
}

.maps {
  background-color: #002B4E;
  text-align: center;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.maps-container {
  max-width: 600px;
  margin: 0 auto;
}

.jumbotron6 {
  color: #f2f2f2;
}

.jumbotron6 h1 {
  font-size: 30px;
  margin-bottom: 5px;
}

.jumbotron6 p2 {
  font-size: 12px;
  margin-bottom: 5px;
}

.row-limit {
  margin-top: 20px;
  text-align: center;
}

.maps {
  margin-top: 60px;
}
